@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

:root {
    --font-family: 'Dosis', sans-serif;
    --primary-color: #CAA6A6;
    --background-color: #3C0753;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;    
    gap: 3rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.mensagem {
    font-size: 1.5rem;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 10rem;
    margin: 1.25rem;
    padding: 0.7rem;
}

.btn-jogar {
    padding: 0.6rem 2rem;
    border: 0;
    background: var(--primary-color);
    border-radius: 0.7rem;
    margin-top: 1.4rem;
    color: var(--background-color);
}